<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite"  parallel="classes"  thread-count = "3" >
	
<listeners>
	    <listener class-name = "BaseClass.TestngListners"/>
	</listeners>
	
  <test name="Test">
  
  <parameter name = 'browser' value ='chrome'/>
  
    <classes>
      <class name="com.qa.LoginTest"/>
      <class name="com.qa.ItemBuyTest"/>
      <class name="com.qa.CancelOrderTest"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
