<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite"  parallel="classes"  thread-count = "2" >

  <test name="Test">
  <parameter name = 'browser' value ='chrome'/>
    <classes>
      <class name="com.qa.LoginTest"/>
      <class name="com.qa.ItemBuyTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
